# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/
*.egg-info/
dist/
node_modules/
npm-debug.log
yarn-error.lo

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs / OS
.vscode/
.idea/
.DS_Store

# Env
.env
